<section class="categories section-offset">
  <div class="container">
    <h2 class="title">Топ категории</h2>
    <ul class="categories__list list-reset">
      <li class="categories__item categories__item--couch product-card">
        <ul class="categories__tags list-reset">
          <li class="categories__tag">Прямые</li>
          <li class="categories__tag">Угловые</li>
          <li class="categories__tag">Модульные</li>
        </ul>
        <h3 class="categories__heading categories__heading--couch">Диваны
          <a class="categories__header-link btn btn-reset" href="/categories">
            <svg class="">
              <use xlink:href="assets/img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </h3>
        <a class="categories__link btn btn-reset" href="#">
          В каталог
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
            <g clip-path="url(#clip0_1_960)">
              <circle cx="11" cy="11" r="10" fill="none" stroke="none" stroke-width="2" />
              <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke="none" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </g>
            <defs>
              <clipPath id="clip0_1_960">
                <rect width="22" height="22" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </a>
      </li>
      <li class="categories__item categories__item--armchair product-card">
        <ul class="categories__tags list-reset">
          <li class="categories__tag">Мягкие</li>
          <li class="categories__tag">Кресла-кровати</li>
        </ul>
        <h3 class="categories__heading">Кресла
          <a class="categories__header-link btn btn-reset" href="#">
            <svg class="">
              <use xlink:href="assets/img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </h3>
        <a class="categories__link btn btn-reset" href="#">
          В каталог
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
            <g clip-path="url(#clip0_1_960)">
              <circle cx="11" cy="11" r="10" fill="none" stroke="none" stroke-width="2" />
              <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke="none" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </g>
            <defs>
              <clipPath id="clip0_1_960">
                <rect width="22" height="22" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </a>
      </li>
      <li class="categories__item categories__item--beds product-card">
        <ul class="categories__tags list-reset">
          <li class="categories__tag">Односпальные</li>
          <li class="categories__tag">Двуспальные</li>
        </ul>
        <h3 class="categories__heading">Кровати
          <a class="categories__header-link btn btn-reset" href="#">
            <svg class="">
              <use xlink:href="assets/img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </h3>
        <a class="categories__link btn btn-reset" href="#">
          В каталог
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
            <g clip-path="url(#clip0_1_960)">
              <circle cx="11" cy="11" r="10" fill="none" stroke="none" stroke-width="2" />
              <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke="none" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </g>
            <defs>
              <clipPath id="clip0_1_960">
                <rect width="22" height="22" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </a>
      </li>
      <li class="categories__item categories__item--commodes product-card">
        <ul class="categories__tags list-reset">
          <li class="categories__tag">Тумбы</li>
          <li class="categories__tag">Комоды</li>
        </ul>
        <h3 class="categories__heading">Тумбы и комоды
          <a class="categories__header-link btn btn-reset" href="#">
            <svg class="">
              <use xlink:href="assets/img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </h3>
        <a class="categories__link btn btn-reset" href="#">
          В каталог
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
            <g clip-path="url(#clip0_1_960)">
              <circle cx="11" cy="11" r="10" fill="none" stroke="none" stroke-width="2" />
              <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke="none" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </g>
            <defs>
              <clipPath id="clip0_1_960">
                <rect width="22" height="22" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </a>
      </li>
      <li class="categories__item categories__item--chairs product-card">
        <ul class="categories__tags list-reset">
          <li class="categories__tag">Деревянные</li>
          <li class="categories__tag">Металлокаркас</li>
        </ul>
        <h3 class="categories__heading">Стулья
          <a class="categories__header-link btn btn-reset" href="#">
            <svg class="">
              <use xlink:href="assets/img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </h3>
        <a class="categories__link btn btn-reset" href="#">
          В каталог
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
            <g clip-path="url(#clip0_1_960)">
              <circle cx="11" cy="11" r="10" fill="none" stroke="none" stroke-width="2" />
              <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke="none" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </g>
            <defs>
              <clipPath id="clip0_1_960">
                <rect width="22" height="22" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>