<section class="feedback section-offset">
  <div class="container">
    <h2 class="feedback__title title">Мы всегда вам рады!</h2>
    <ul class="feedback__list list-reset">
      <li class="feedback__item feedback__item--left">
        <p class="feedback__descr">
          Безусловно, новая модель организационной деятельности в значительной степени
          обусловливает важность распределения внутренних резервов и ресурсов.
        </p>
        <form class="feedback__form request">
          <div class="request__group">
            <input class="request__input" type="text" placeholder="Как вас зовут ?">
            <input class="request__input" type="tel" placeholder="Ваш телефон">
            <input class="request__input" type="email" placeholder="Ваш e-mail">
            <button class="request__btn btn btn--fill btn-reset" type="submit">Отправить</button>
          </div>
          <div class="request__agreement btn-reset">
            <label for="agreement" class="request__agreement-text">
              <input type="checkbox" class="request__checkbox" id="agreement">
              Принимаю <a class="request__agreement-link" href="">пользовательское соглашение</a>
            </label>
          </div>
        </form>
      </li>
      <li class="feedback__item feedback__item--right">
        <div class="feedback__bg"></div>
      </li>
    </ul>
  </div>
</section>