<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Сайт мебели Sit Down Please">
  <title>Sit Down Please</title>

  <link rel="icon" type="image/jpeg" href="favicon.ico">

  <!-- styles -->
  <link rel="stylesheet" href="css/main.css">

  <!-- fonts -->
  <link rel="preload" as="font" href="/fonts/OpenSans-Regular.woff2" crossorigin>
  <link rel="preload" as="font" href="/fonts/OpenSans-SemiBold.woff2" crossorigin>
  <link rel="preload" as="font" href="/fonts/OpenSans-Bold.woff2" crossorigin>

  <!-- scripts -->
  <script defer src="js/main.js"></script>
</head>