<header class="header">
  <div class="header__top">
    <div class="header__top-logo-wrap">
      <a class="header__top-logo logo" href="index.html">
        <img class="logo__img" src="assets/img/logo.svg" alt="Логотип">
      </a>
    </div>
    <div class="header__top-content">
      <a href="tel:+74958854547" class="header__call">
        <svg class="">
          <use xlink:href="assets/img/sprite.svg#phone"></use>
        </svg>
        +7 &#8203;(495) 885-45-47
      </a>
      <div class="header__nav-wrap">
        <nav class="header__nav-top nav-top">
          <ul class="list-reset nav-top__list">
            <li class="nav-top__item">
              <a href="#" class="nav-top__link">О компании</a>
            </li>
            <li class="nav-top__item">
              <a href="#" class="nav-top__link">Гарантия и возврат</a>
            </li>
            <li class="nav-top__item">
              <a href="#" class="nav-top__link">Корпоративным клиентам</a>
            </li>
            <li class="nav-top__item">
              <a href="#" class="nav-top__link">Дизайн-решение</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="header__container container">
    <div class="header__middle">
      <a class="header__logo logo" href="index.html">
        <img class="logo__img" src="assets/img/logo.svg" alt="Логотип">
      </a>
      <nav class="header__nav nav">
        <ul class="list-reset nav__list">
          <li class="nav__item">
            <a href="/catalog-page.html" class="nav__link">Каталог</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Магазины</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Шоу-рум</a>
          </li>
          <li class="nav__item">
            <a href="/collabaration-page.html" class="nav__link">Доставка и оплата</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Дисконт</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Контакты</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__bottom">
      <form class="header__search search">
        <svg class="search__glass">
          <use xlink:href="assets/img/sprite.svg#search"></use>
        </svg>
        <input type="text" class="search__input input-reset" placeholder="Я хочу купить...">
        <button class="search__btn btn-reset" aria-label="Найти">
          <!-- <svg>
            <use xlink:href="assets/img/sprite.svg#arrow"></use>
          </svg> -->
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
            <g clip-path="url(#clip0_1_933)">
              <circle cx="16" cy="16" r="15" fill="none" stroke="none" stroke-width="2" />
              <path d="M14 11L19 16L14 21" stroke="none" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </g>
            <defs>
              <clipPath id="clip0_1_933">
                <rect width="32" height="32" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </button>
      </form>
      <div class="header__user-links user-links">
        <a href="#" class="user-links__link user-links__link--account" aria-label="Личный кабинет">
          <svg>
            <use xlink:href="assets/img/sprite.svg#account"></use>
          </svg>
        </a>
        <a href="#" class="user-links__link user-links__link--basket" aria-label="Корзина">
          <span class="user-links__counter">0</span>
          <svg>
            <use xlink:href="assets/img/sprite.svg#basket"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</header>