<section class="products-card">
  <h2 class="products-card__title visually-hidden">Карточка товара</h2>
  <div class="products-card__container container">
    <ul class="catalog__breadcrumbs breadcrumbs list-reset">
      <li class="breadcrumbs__item">Главная</li>
      <li class="breadcrumbs__item">Каталог</li>
      <li class="breadcrumbs__item">Диваны</li>
      <li class="breadcrumbs__item">Прямые Диваны</li>
      <li class="breadcrumbs__item breadcrumbs__item--active">D-31</li>
    </ul>
    <div class="products-card__wrap">
      <ul class="products-card__list list-reset">
        <li class="products-card__item">
          <picture>
            <source
              srcset="assets/img/product-card-d31.webp 1x, assets/img/product-card-d31.webp 2x"
              type="image/webp">
            <img
              class="products-card__img products-card__img--left"
              src="../assets/img/product-card-d31.png"
              alt="Диван D-31">
          </picture>
          <h4 class="products-card__subheading">
            Опорный механизм
          </h4>
          <p class="products-card__descr products-card__descr--left">
            <span class="products-card__descr-top">
              Опорный механизм напоминает пантограф, к которому добавили дополнительную секцию. У опорного дивана
              сиденье
              «выпрыгивает» вперёд и вытаскивает вторую часть спального места. Заключительный штрих — опустить спинку.
            </span>
            <span class="products-card__descr-bottom">
              Этот механизм не портит пол и не боится ковров. Требуется чуть больше силы, чтобы разложить диван, но
              подросток справится.
            </span>
          </p>
          <div class="products-card__illustration illustration">
            <ul class="illustration__list list-reset">
              <li class="illustration__item illustration__item--left">
                <img
                  class="illustration__img"
                  src="../assets/img/product-card-illustration-process.png"
                  alt="Диван полураскрытый">
              </li>
              <li class="illustration__item illustration__item--right">
                <img
                  class="illustration__img"
                  src="../assets/img/product-card-illustration-open.png"
                  alt="Диван открытый">
              </li>
            </ul>
          </div>
        </li>
        <li class="products-card__item">
          <picture>
            <source
              srcset="assets/img/product-card-d31.webp 1x, assets/img/product-card-d31.webp 2x"
              type="image/webp">
            <img
              class="products-card__img products-card__img--right"
              src="../assets/img/product-card-d31.png"
              alt="Диван D-31">
          </picture>
          <span class="products-card__rating">
            <svg class="products-card__star">
              <use xlink:href="assets/img/sprite.svg#star"></use>
            </svg>
            4,8
          </span>
          <h3 class="products-card__heading">
            Диван тканевый прямой “D-31”
          </h3>
          <p class="products-card__text">
            Мини 120 см без ящика Stark синий (Рогожка)
          </p>
          <span class="products-card__price">
            28 490 руб
          </span>
          <div class="products-card__btns">
            <button class="products-card__btn btn btn--fill btn-reset">Купить в один клик</button>
            <button class="products-card__btn btn btn--stroke btn-reset">+ Добавить в корзину</button>
          </div>
          <div class="products-card__left-content">
            <h4 class="products-card__subheading">
              Опорный механизм
            </h4>
            <p class="products-card__descr products-card__descr--left">
              <span class="products-card__descr-top">
                Опорный механизм напоминает пантограф, к которому добавили дополнительную секцию. У опорного дивана
                сиденье
                «выпрыгивает» вперёд и вытаскивает вторую часть спального места. Заключительный штрих — опустить спинку.
              </span>
              <span class="products-card__descr-bottom">
                Этот механизм не портит пол и не боится ковров. Требуется чуть больше силы, чтобы разложить диван, но
                подросток справится.
              </span>
            </p>
            <div class="products-card__illustration illustration">
              <ul class="illustration__list list-reset">
                <li class="illustration__item illustration__item--left">
                  <img
                    class="illustration__img"
                    src="../assets/img/product-card-illustration-process.png"
                    alt="Диван полураскрытый">
                </li>
                <li class="illustration__item illustration__item--right">
                  <img
                    class="illustration__img"
                    src="../assets/img/product-card-illustration-open.png"
                    alt="Диван открытый">
                </li>
              </ul>
            </div>
          </div>
          <article class="products-card__product-info product-info">
            <ul class="product-info__list list-reset">
              <li class="product-info__item">
                <h4 class="product-info__heading">Гарантия</h4>
                <span class="product-info__dots"></span>
                <p class="product-info__value">18 месяцев</p>
              </li>
              <li class="product-info__item">
                <h4 class="product-info__heading">Артикул</h4>
                <span class="product-info__dots"></span>
                <p class="product-info__value">AAA41269004</p>
              </li>
              <li class="product-info__item">
                <h4 class="product-info__heading">Длина</h4>
                <span class="product-info__dots"></span>
                <p class="product-info__value">163 см</p>
              </li>
              <li class="product-info__item">
                <h4 class="product-info__heading">Высота</h4>
                <span class="product-info__dots"></span>
                <p class="product-info__value">90 см</p>
              </li>
              <li class="product-info__item">
                <h4 class="product-info__heading">Глубина</h4>
                <span class="product-info__dots"></span>
                <p class="product-info__value">108 см</p>
              </li>
              <li class="product-info__item">
                <h4 class="product-info__heading">Спальное место</h4>
                <span class="product-info__dots"></span>
                <p class="product-info__value">200 см х 125 см</p>
              </li>
              <li class="product-info__item">
                <h4 class="product-info__heading">Высота посадки</h4>
                <span class="product-info__dots"></span>
                <p class="product-info__value">45 см</p>
              </li>
              <li class="product-info__item">
                <h4 class="product-info__heading">Механизм</h4>
                <span class="product-info__dots"></span>
                <p class="product-info__value">Опорный</p>
              </li>
              <li class="product-info__item">
                <h4 class="product-info__heading">Тип обивки</h4>
                <span class="product-info__dots"></span>
                <p class="product-info__value">Рогожка</p>
              </li>
              <li class="product-info__item">
                <h4 class="product-info__heading">Цвет</h4>
                <span class="product-info__dots"></span>
                <p class="product-info__value">Синий</p>
              </li>
              <li class="product-info__item">
                <h4 class="product-info__heading">Наполнитель</h4>
                <span class="product-info__dots"></span>
                <p class="product-info__value">Независимый пружинный блок</p>
              </li>
              <li class="product-info__item">
                <h4 class="product-info__heading">Материал каркаса</h4>
                <span class="product-info__dots"></span>
                <p class="product-info__value">Металл. рама с дерев. латами</p>
              </li>
              <li class="product-info__item">
                <h4 class="product-info__heading">Количество мест</h4>
                <span class="product-info__dots"></span>
                <p class="product-info__value">Двухместные</p>
              </li>
              <li class="product-info__item">
                <h4 class="product-info__heading">Категория</h4>
                <span class="product-info__dots"></span>
                <p class="product-info__value">Прямые тканевые диваны</p>
              </li>
              <li class="product-info__item">
                <h4 class="product-info__heading">Возврат</h4>
                <span class="product-info__dots"></span>
                <p class="product-info__value">Условия</p>
              </li>
            </ul>
          </article>
        </li>
      </ul>
    </div>
  </div>
  @include('./similar-products.html')
</section>