<section class="product-catalog">
  <h2 class="product-catalog__title title">Каталог</h2>
  <ul class="product-catalog__list list-reset">
    <li class="product-catalog__item card product-card">
      <span class="product-catalog__rating">
        <svg class="product-catalog__star">
          <use xlink:href="assets/img/sprite.svg#star"></use>
        </svg>
        5,0
      </span>
      <picture class="product-catalog__picture">
        <source
          srcset="assets/img/high-rated-item-r94.webp 1x, assets/img/high-rated-item-r94-2x.webp 2x"
          type="image/webp">
        <img
          class="product-catalog__img"
          src="assets/img/high-rated-item-r94.png"
          srcset="assets/img/high-rated-item-r94.png 1x, assets/img/high-rated-item-r94-2x.png 2x"
          alt="Кресло велюровое"
          loading="lazy">
      </picture>
      <div class="product-catalog__content product-catalog__content">
        <h3 class="product-catalog__heading">Диван кожаный “R-94”</h3>
        <span class="product-catalog__price">94 990 руб</span>
        <button class="product-catalog__btn btn-reset btn btn--stroke">Купить</button>
      </div>
    </li>
    <li class="product-catalog__item card product-card">
      <span class="product-catalog__rating">
        <svg class="product-catalog__star">
          <use xlink:href="assets/img/sprite.svg#star"></use>
        </svg>
        4,9
      </span>
      <picture class="product-catalog__picture">
        <source
          srcset="assets/img/high-rated-item-t75.webp 1x, assets/img/high-rated-item-t75-2x.webp 2x"
          type="image/webp">
        <img
          class="product-catalog__img"
          src="assets/img/high-rated-item-t75.png"
          srcset="assets/img/high-rated-item-t75.png 1x, assets/img/high-rated-item-t75-2x.png 2x"
          alt="Кресло велюровое"
          loading="lazy">
      </picture>
      <div class="product-catalog__content product-catalog__content">
        <h3 class="product-catalog__heading">Диван апартековый “T-75”</h3>
        <span class="product-catalog__price">69 990 руб</span>
        <button class="product-catalog__btn btn-reset btn btn--stroke">Купить</button>
      </div>
    </li>
    <li class="product-catalog__item card product-card">
      <span class="product-catalog__rating">
        <svg class="product-catalog__star">
          <use xlink:href="assets/img/sprite.svg#star"></use>
        </svg>
        4,8
      </span>
      <picture class="product-catalog__picture">
        <source
          srcset="assets/img/high-rated-item-d31.webp 1x, assets/img/high-rated-item-d31-2x.webp 2x"
          type="image/webp">
        <img
          class="product-catalog__img"
          src="assets/img/high-rated-item-d31.png"
          srcset="assets/img/high-rated-item-d31.png 1x, assets/img/high-rated-item-d31-2x.png 2x"
          alt="Кресло велюровое"
          loading="lazy">
      </picture>
      <div class="product-catalog__content product-catalog__content">
        <h3 class="product-catalog__heading">Диван тканевый “D-31”</h3>
        <span class="product-catalog__price">28 490 руб</span>
        <button class="product-catalog__btn btn-reset btn btn--stroke">Купить</button>
      </div>
    </li>
    <li class="product-catalog__item card product-card">
      <span class="product-catalog__rating">
        <svg class="product-catalog__star">
          <use xlink:href="assets/img/sprite.svg#star"></use>
        </svg>
        4,8
      </span>
      <picture class="product-catalog__picture">
        <source
          srcset="assets/img/high-rated-item-y68.webp 1x, assets/img/high-rated-item-y68-2x.webp 2x"
          type="image/webp">
        <img
          class="product-catalog__img"
          src="assets/img/high-rated-item-y68.png"
          srcset="assets/img/high-rated-item-y68.png 1x, assets/img/high-rated-item-y68-2x.png 2x"
          alt="Кресло велюровое"
          loading="lazy">
      </picture>
      <div class="product-catalog__content product-catalog__content">
        <h3 class="product-catalog__heading">Диван велюровый “Y-68”</h3>
        <span class="product-catalog__price">22 990 руб</span>
        <button class="product-catalog__btn btn-reset btn btn--stroke">Купить</button>
      </div>
    </li>
    <li class="product-catalog__item card product-card">
      <span class="product-catalog__rating">
        <svg class="product-catalog__star">
          <use xlink:href="assets/img/sprite.svg#star"></use>
        </svg>
        4,8
      </span>
      <picture class="product-catalog__picture">
        <source
          srcset="assets/img/high-rated-item-w95.webp 1x, assets/img/high-rated-item-w95-2x.webp 2x"
          type="image/webp">
        <img
          class="product-catalog__img"
          src="assets/img/high-rated-item-w95.png"
          srcset="assets/img/high-rated-item-w95.png 1x, assets/img/high-rated-item-w95-2x.png 2x"
          alt="Кресло велюровое"
          loading="lazy">
      </picture>
      <div class="product-catalog__content product-catalog__content">
        <h3 class="product-catalog__heading">Диван из шинила “W-95”</h3>
        <span class="product-catalog__price">22 990 руб</span>
        <button class="product-catalog__btn btn-reset btn btn--stroke">Купить</button>
      </div>
    </li>
    <li class="product-catalog__item card product-card">
      <span class="product-catalog__rating">
        <svg class="product-catalog__star">
          <use xlink:href="assets/img/sprite.svg#star"></use>
        </svg>
        4,8
      </span>
      <picture class="product-catalog__picture">
        <source
          srcset="assets/img/high-rated-item-g41.webp 1x, assets/img/high-rated-item-g41-2x.webp 2x"
          type="image/webp">
        <img
          class="product-catalog__img"
          src="assets/img/high-rated-item-g41.png"
          srcset="assets/img/high-rated-item-g41.png 1x, assets/img/high-rated-item-g41-2x.png 2x"
          alt="Кресло велюровое"
          loading="lazy">
      </picture>
      <div class="product-catalog__content product-catalog__content">
        <h3 class="product-catalog__heading">Диван флоковый “G-41”</h3>
        <span class="product-catalog__price">17 990 руб</span>
        <button class="product-catalog__btn btn-reset btn btn--stroke">Купить</button>
      </div>
    </li>
    <li class="product-catalog__item card product-card">
      <span class="product-catalog__rating">
        <svg class="product-catalog__star">
          <use xlink:href="assets/img/sprite.svg#star"></use>
        </svg>
        4,8
      </span>
      <picture class="product-catalog__picture">
        <source
          srcset="assets/img/high-rated-item-v43.webp 1x, assets/img/high-rated-item-v43-2x.webp 2x"
          type="image/webp">
        <img
          class="product-catalog__img"
          src="assets/img/high-rated-item-v43.png"
          srcset="assets/img/high-rated-item-v43.png 1x, assets/img/high-rated-item-v43-2x.png 2x"
          alt="Кресло велюровое"
          loading="lazy">
      </picture>
      <div class="product-catalog__content product-catalog__content">
        <h3 class="product-catalog__heading">Диван шиниловый “V-43”</h3>
        <span class="product-catalog__price">19 990 руб</span>
        <button class="product-catalog__btn btn-reset btn btn--stroke">Купить</button>
      </div>
    </li>
    <li class="product-catalog__item card product-card">
      <span class="product-catalog__rating">
        <svg class="product-catalog__star">
          <use xlink:href="assets/img/sprite.svg#star"></use>
        </svg>
        4,7
      </span>
      <picture class="product-catalog__picture">
        <source
          srcset="assets/img/high-rated-item-s99.webp 1x, assets/img/high-rated-item-s99-2x.webp 2x"
          type="image/webp">
        <img
          class="product-catalog__img"
          src="assets/img/high-rated-item-s99.png"
          srcset="assets/img/high-rated-item-s99.png 1x, assets/img/high-rated-item-s99-2x.png 2x"
          alt="Кресло велюровое"
          loading="lazy">
      </picture>
      <div class="product-catalog__content product-catalog__content">
        <h3 class="product-catalog__heading">Диван велюровый “S-99”</h3>
        <span class="product-catalog__price">19 999 руб</span>
        <button class="product-catalog__btn btn-reset btn btn--stroke">Купить</button>
      </div>
    </li>
    <li class="product-catalog__item card product-card">
      <span class="product-catalog__rating">
        <svg class="product-catalog__star">
          <use xlink:href="assets/img/sprite.svg#star"></use>
        </svg>
        4,7
      </span>
      <picture class="product-catalog__picture">
        <source
          srcset="assets/img/high-rated-item-f85.webp 1x, assets/img/high-rated-item-f85-2x.webp 2x"
          type="image/webp">
        <img
          class="product-catalog__img"
          src="assets/img/high-rated-item-f85.png"
          srcset="assets/img/high-rated-item-f85.png 1x, assets/img/high-rated-item-f85-2x.png 2x"
          alt="Кресло велюровое"
          loading="lazy">
      </picture>
      <div class="product-catalog__content product-catalog__content">
        <h3 class="product-catalog__heading">Диван из кожзама “F-85”</h3>
        <span class="product-catalog__price">26 990 руб</span>
        <button class="product-catalog__btn btn-reset btn btn--stroke">Купить</button>
      </div>
    </li>
  </ul>
  <div class="product-catalog__pagination-wrap">
    <button class="product-catalog__pagination product-catalog__pagination--active btn-reset">1</button>
    <button class="product-catalog__pagination product-catalog__pagination btn-reset">2</button>
    <button class="product-catalog__pagination product-catalog__pagination btn-reset">3</button>
  </div>
</section>