<section class="similar-products">
  <div class="container">
    <h2 class="similar-products__title title">Похожие товары</h2>
    <ul class="similar-products__list list-reset">
      <li class="similar-products__item card product-card">
        <span class="card__rating">
          <svg class="card__star">
            <use xlink:href="assets/img/sprite.svg#star"></use>
          </svg>
          4,5
        </span>
        <picture class="card__picture">
          <source
            srcset="assets/img/similar-products-r85.webp 1x, assets/img/similar-products-r85-2x.webp 2x"
            type="image/webp">
          <img
            class="card__img"
            src="assets/img/similar-products-r85.png"
            srcset="assets/img/similar-products-r85.png 1x, assets/img/similar-products-r85-2x.png 2x"
            alt="Кресло велюровое"
            loading="lazy">
        </picture>
        <div class="similar-products__content card__content">
          <h3 class="card__heading">Диван велюровый “R-85”</h3>
          <span class="card__price">34 990 руб</span>
          <button class="card__btn btn-reset btn btn--stroke">Купить</button>
        </div>
      </li>
      <li class="similar-products__item card product-card">
        <span class="card__rating">
          <svg class="card__star">
            <use xlink:href="assets/img/sprite.svg#star"></use>
          </svg>
          4,6
        </span>
        <picture class="card__picture">
          <source
            srcset="assets/img/similar-products-h58.webp 1x, assets/img/similar-products-h58-2x.webp 2x"
            type="image/webp">
          <img
            class="card__img"
            src="assets/img/similar-products-h58.png"
            srcset="assets/img/similar-products-h58.png 1x, assets/img/similar-products-h58-2x.png 2x"
            alt="Кресло велюровое"
            loading="lazy">
        </picture>
        <div class="similar-products__content card__content">
          <h3 class="card__heading">Диван флоковый “H-58”</h3>
          <span class="card__price">23 990 руб</span>
          <button class="card__btn btn-reset btn btn--stroke">Купить</button>
        </div>
      </li>
      <li class="similar-products__item card product-card">
        <span class="card__rating">
          <svg class="card__star">
            <use xlink:href="assets/img/sprite.svg#star"></use>
          </svg>
          4,5
        </span>
        <picture class="card__picture">
          <source
            srcset="assets/img/similar-products-s44.webp 1x, assets/img/similar-products-s44-2x.webp 2x"
            type="image/webp">
          <img
            class="card__img"
            src="assets/img/similar-products-s44.png"
            srcset="assets/img/similar-products-s44.png 1x, assets/img/similar-products-s44-2x.png 2x"
            alt="Кресло велюровое"
            loading="lazy">
        </picture>
        <div class="similar-products__content card__content">
          <h3 class="card__heading">Диван велюровый “S-44”</h3>
          <span class="card__price">19 990 руб</span>
          <button class="card__btn btn-reset btn btn--stroke">Купить</button>
        </div>
      </li>
      <li class="similar-products__item card product-card">
        <span class="card__rating">
          <svg class="card__star">
            <use xlink:href="assets/img/sprite.svg#star"></use>
          </svg>
          4,8
        </span>
        <picture class="card__picture">
          <source
            srcset="assets/img/similar-products-v43.webp 1x, assets/img/similar-products-v43-2x.webp 2x"
            type="image/webp">
          <img
            class="card__img"
            src="assets/img/similar-products-item-v43.png"
            srcset="assets/img/similar-products-v43.png 1x, assets/img/similar-products-v43-2x.png 2x"
            alt="Кресло велюровое"
            loading="lazy">
        </picture>
        <div class="similar-products__content card__content">
          <h3 class="card__heading">Диван шиниловый “V-43”</h3>
          <span class="card__price">19 990 руб</span>
          <button class="card__btn btn-reset btn btn--stroke">Купить</button>
        </div>
      </li>
    </ul>
  </div>
</section>