<section class="special-offers section-offset">
  <div class="container">
    <h2 class="title">Специальные предложения</h2>
    <ul class="special-offers__list list-reset">
      <li class="special-offers__item card product-card">
        <div class="card__badge">
          <span class="card__badge-content">-9 000</span>
        </div>
        <picture class="card__picture">
          <source
            srcset="assets/img/special-offer-chair.webp 1x, assets/img/special-offer-chair-2x.webp 2x"
            type="image/webp">
          <img
            class="card__img"
            src="assets/img/special-offer-chair.png"
            srcset="assets/img/special-offer-chair.png 1x, assets/img/special-offer-chair-2x.png 2x"
            alt="Кресло велюровое"
            fetchpriority="high">
        </picture>
        <div class="card__content">
          <h3 class="special-offers__heading card__heading">Кресло велюровое “X-24”</h3>
          <div class="card__price-wrap">
            <span class="card__price card__price--new">15 990 руб</span>
            <span class="card__price card__price--old">24 990 руб</span>
          </div>
          <button class="card__btn btn-reset btn btn--stroke">Купить</button>
        </div>
      </li>
      <li class="special-offers__item special-offers__item--xl card product-card">
        <div class="card__badge">
          <span class="card__badge-content">-10 000</span>
        </div>
        <picture class="card__picture">
          <source
            srcset="assets/img/special-offer-couch.webp 1x, assets/img/special-offer-couch-2x.webp 2x"
            type="image/webp">
          <img
            class="card__img"
            src="assets/img/special-offer-couch.png"
            srcset="assets/img/special-offer-couch.png 1x, assets/img/special-offer-couch-2x.png 2x"
            alt="Диван тканевый"
            fetchpriority="high">
        </picture>
        <div class="card__content">
          <h3 class="special-offers__heading card__heading">Диван тканевый “Z-44”</h3>
          <div class="card__price-wrap">
            <span class="card__price card__price--new">22 990 руб</span>
            <span class="card__price card__price--old">32 990 руб</span>
          </div>
          <button class="card__btn btn-reset btn btn--stroke">Купить</button>
        </div>
        <div class="card__copy">
          <img src="assets/img/special-offer-item-z44-copy.png" aria-hidden="true" alt="Открытый диван">
        </div>
      </li>
      <li class="special-offers__item card product-card">
        <div class="card__badge">
          <span class="card__badge-content">-600</span>
        </div>
        <picture class="card__picture">
          <source
            srcset="assets/img/special-offer-clock.webp 1x, assets/img/special-offer-clock-2x.webp 2x"
            type="image/webp">
          <img
            class="card__img"
            src="assets/img/special-offer-clock.png"
            srcset="assets/img/special-offer-clock.png 1x, assets/img/special-offer-clock-2x.png 2x"
            alt="Будильник"
            fetchpriority="high">
        </picture>
        <div class="card__content">
          <h3 class="special-offers__heading card__heading">Будильник “Quartz-23”</h3>
          <div class="card__price-wrap">
            <span class="card__price card__price--new">1 290 руб</span>
            <span class="card__price card__price--old">1 890 руб</span>
          </div>
          <button class="card__btn btn-reset btn btn--stroke">Купить</button>
        </div>
      </li>
      <li class="special-offers__item card product-card">
        <div class="card__badge">
          <span class="card__badge-content">-300</span>
        </div>
        <picture class="card__picture">
          <source
            srcset="assets/img/special-offer-deer.webp 1x, assets/img/special-offer-deer-2x.webp 2x"
            type="image/webp">
          <img
            class="card__img"
            src="assets/img/special-offer-deer.jpg"
            srcset="assets/img/special-offer-deer.png 1x, assets/img/special-offer-deer-2x.png 2x"
            alt="Скульптура">
        </picture>
        <div class="card__content">
          <h3 class="special-offers__heading card__heading">Мини-скульптура “Oh my deer”</h3>
          <div class="card__price-wrap">
            <span class="card__price card__price--new">690 руб</span>
            <span class="card__price card__price--old">990 руб</span>
          </div>
          <button class="card__btn btn-reset btn btn--stroke">Купить</button>
        </div>
      </li>
      <li class="special-offers__item card product-card">
        <div class="card__badge">
          <span class="card__badge-content">-10 000</span>
        </div>
        <picture class="card__picture">
          <source
            srcset="assets/img/special-offer-couch-z85.webp 1x, assets/img/special-offer-couch-z85-2x.webp 2x"
            type="image/webp">
          <img
            class="card__img"
            src="assets/img/special-offer-couch-z85.png"
            srcset="assets/img/special-offer-couch-z85.png 1x, assets/img/special-offer-couch-z85-2x.png 2x"
            alt="Диван">
        </picture>
        <div class="card__content">
          <h3 class="special-offers__heading card__heading">Диван вел-флок “Z-85”</h3>
          <div class="card__price-wrap">
            <span class="card__price card__price--new">22 990 руб</span>
            <span class="card__price card__price--old">32 990 руб</span>
          </div>
          <button class="card__btn btn-reset btn btn--stroke">Купить</button>
        </div>
      </li>
      <li class="special-offers__item card product-card">
        <div class="card__badge">
          <span class="card__badge-content">-700</span>
        </div>
        <picture class="card__picture">
          <source
            srcset="assets/img/special-offer-termometr.webp 1x, assets/img/special-offer-termometr-2x.webp 2x"
            type="image/webp">
          <img
            class="card__img"
            src="assets/img/special-offer-termometr.png"
            srcset="assets/img/special-offer-termometr.png 1x, assets/img/special-offer-termometr-2x.png 2x"
            alt="Будильник">
        </picture>
        <div class="card__content">
          <h3 class="special-offers__heading card__heading">Термометр + гидрометр “H-18”</h3>
          <div class="card__price-wrap">
            <span class="card__price card__price--new">1 390 руб</span>
            <span class="card__price card__price--old">2 090 руб</span>
          </div>
          <button class="card__btn btn-reset btn btn--stroke">Купить</button>
        </div>
      </li>
    </ul>
  </div>
</section>