<section class="useful section-offset">
  <div class="container">
    <h2 class="title">Полезное</h2>
    <ul class="useful__list list-reset">
      <li class="useful__item product-card">
        <picture class="useful__picture">
          <source srcset="assets/img/useful-studio.webp 1x, assets/img/useful-studio-2x.webp 2x" type="image/webp">
          <img
            class="useful__img"
            src="assets/img/useful-studio.jpg"
            srcset="assets/img/useful-studio.jpg 1x, assets/img/useful-studio-2x.jpg 2x"
            alt="Студия"
            width="624"
            height="426">
        </picture>
        <div class="useful__content">
          <p class="useful__descr">
            И нет сомнений, что сделанные на базе интернет-аналитики выводы представляют собой не что иное?
          </p>
          <button class="useful__btn btn btn--stroke btn-reset">Читать</button>
        </div>
      </li>
      <li class="useful__item product-card">
        <picture class="useful__picture">
          <source srcset="assets/img/useful-table.webp 1x, assets/img/useful-table-2x.webp 2x" type="image/webp">
          <img
            class="useful__img"
            src="assets/img/useful-table.jpg"
            srcset="assets/img/useful-table.jpg 1x, assets/img/useful-table-2x.jpg 2x"
            alt="Студия"
            width="624"
            height="426">
        </picture>
        <div class="useful__content">
          <p class="useful__descr">
            Как принято считать, некоторые особенности приносят несомненную пользу обществу?
          </p>
          <button class="useful__btn btn btn--stroke btn-reset">Читать</button>
        </div>
      </li>
      <li class="useful__item product-card">
        <picture class="useful__picture">
          <source srcset="assets/img/useful-plant.webp 1x, assets/img/useful-plant-2x.webp 2x" type="image/webp">
          <img
            class="useful__img"
            src="assets/img/useful-plant.jpg"
            srcset="assets/img/useful-plant.jpg 1x, assets/img/useful-plant-2x.jpg 2x"
            alt="Студия"
            width="624"
            height="426">
        </picture>
        <div class="useful__content">
          <p class="useful__descr">
            Ясность нашей позиции очевидна: укрепление и развитие внутренней структуры?
          </p>
          <button class="useful__btn btn btn--stroke btn-reset">Читать</button>
        </div>
      </li>
      <li class="useful__item product-card">
        <picture class="useful__picture">
          <source srcset="assets/img/useful-kitchen.webp 1x, assets/img/useful-kitchen-2x.webp 2x" type="image/webp">
          <img
            class="useful__img"
            src="assets/img/useful-kitchen.jpg"
            srcset="assets/img/useful-kitchen.jpg 1x, assets/img/useful-kitchen-2x.jpg 2x"
            alt="Студия"
            width="624"
            height="426">
        </picture>
        <div class="useful__content">
          <p class="useful__descr">
            Прежде всего, консультация с широким активом однозначно фиксирует необходимость распределения?
          </p>
          <button class="useful__btn btn btn--stroke btn-reset">Читать</button>
        </div>
      </li>
      <li class="useful__item product-card">
        <picture class="useful__picture">
          <source srcset="assets/img/useful-living-room.webp 1x, assets/img/useful-living-room-2x.webp 2x"
            type="image/webp">
          <img
            class="useful__img"
            src="assets/img/useful-living-room.jpg"
            srcset="assets/img/useful-living-room.jpg 1x, assets/img/useful-living-room-2x.jpg 2x"
            alt="Студия"
            width="624"
            height="426">
        </picture>
        <div class="useful__content">
          <p class="useful__descr">
            Как принято считать, некоторые особенности приносят несомненную пользу обществу?
          </p>
          <button class="useful__btn btn btn--stroke btn-reset">Читать</button>
        </div>
      </li>
    </ul>
  </div>
</section>